body {
    margin: 0;
    padding: 0;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

.slide {
    display:none;
}

#map, #mapLookup {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
}

.chatter {
    padding: 10px;
}

.mapboxgl-popup-close-button {
    display:none !important;
}

.title {
    font-weight:900;
    font-size:1.4em;
}


#database {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    background-color:#ffffff;
}

#stats {
    padding:10px;
}

#listing {
    height:300px;
    overflow-x:hidden;
    overflow-y:auto;
    width:100%;
}

.map-overlay-container {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    font: 12px/20px $bentonSans;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

.play {
    background-color: #fff !important;
    color: #000;
}

.pause {
    background-color: #333 !important;
    color: #fff;
}

#diverse {
    color: #299129;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
    display: none !important;
}

#toggle {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 23px;
    font-size: 2em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#toggle:hover {
    background-color: #333 !important;
    color: #fff;
    cursor: pointer;
}

.navButtons {
    display: block;
    text-align: center;
    background-color: #fff !important;
    width: 40px;
    font-size: 2em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-weight: 900;
}

.navButtons:hover {
    background-color: #333 !important;
    color: #fff;
    cursor: pointer;
}

.col {
    display:inline-block;
    vertical-align:top;
}

.name { 
    width:70%;
}

.county {
    width:25%;
}

.row:hover {
    cursor:pointer;
    opacity:0.8;
}

.previous {
    float: left;
}

.next {
    float: right;
}

#tracker {
    padding-top: 10px;
    text-align: center;
}

.trackDot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 6px;
    background-color: #ddd;
}

.trackDot:hover,
.current {
    background-color: #333;
    cursor: pointer;
}

.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.legendContainer {
    text-align: center;
}

#geocoder-container {
    width: 100%;
    margin-top: 10px;
}

#geocoder-container > div {
    min-width: 100%;
    margin-left: 0;
}

.chatter span {
    padding: 5px;
}

small {
    font-family: $bentonSans;
    color: #808080;
    clear: both;
    display: block;
}

.description {
    padding:10px;
}

p {
    font-family: $bentonSans;
}

#info {
    display: none;
}

#fp-nav {
    display: none !important;
}

.zoom {
    text-align: center;
    float: none !important;
}

.legends {
    width: 300px;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.bigNum {
    display: inline-block;
    width: 32%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px $bentonSans;
}

.marker-title {
    font-weight: 700;
}

.cell {
    display:inline-block;
}

.th {
    font-weight:900;
}

.th:hover {
    text-decoration:underline;
    opacity:0.8em;
    cursor:pointer;
}

.name {
    white-space: nowrap;
    overflow-x:hidden;
}
.county { text-align:right; }

@media (max-width:500px) {
    #map {
        position: static;
        height: 400px;
    }
    #mapLookup {
        position: static;
        height: 350px;
    }
    .map-overlay-container, #database {
        width: 100%;
        position: static;
    }
    .bottom {
        position: static;
        width: 100%;
        clear: both;
    }
    .breaker {
        display:none;
    }
    .mapboxgl-ctrl-top-right {
        display:none !important;
    }
}