/* PROJECT STYLES */
#wrapper {
    width: 100%;
}

body {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#header {
    margin-bottom: 10px;
}

#events {
    overflow-y: auto;
    height: 280px;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.cell {
    display: inline-block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    vertical-align: top;
    margin-bottom: 12px;
    text-align: center;
}

.th {
    display: inline-block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
}

.th:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sortSelect {
    text-decoration: underline;
}

.year {
    width: 9%;
}

.hospital {
    width: 15%;
}

.city {
    width: 8%;
}

.category {
    width: 30%;
}

.num {
    font-weight: 900;
    text-align: center;
    width: 9%;
}

.cell.num {
    font-size: 1.2em;
}

.type {
    width: 10%;
}

#counts {
    margin-top: 10px;
    margin-bottom: 10px;
}

#results {
    font-weight: 900;
}

#filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter input:focus {
    width: 100% !important;
}

#filter input {
    font-size: .85em;
    width: 100% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.scrollToTop {
    color: steelblue !important;
}

.scrollToTop:hover {
    color: #333 !important;
    cursor: pointer;
}

.paginate_button {
    font-family: "Popular", Helvetica, Arial, sans-serif;
    margin: 5px;
    color: #000;
    padding: 5px;
}