/* PROJECT STYLES */
body,
#filter,
#filter input:focus {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#wrapper {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    /*width:520px;*/
    margin-right: auto;
    margin-left: auto;
}

#headlineBox {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #dfdfdf;
    padding: 15px;
}

#headlineBox img {
    float: left;
    width: 50%;
    padding-right: 20px;
}

#headlineBox .textBox {
    width: auto;
    padding-left: 20px;
    display: block;
}

#headlineBox .textBox h3 {
    text-align: left;
    font-size: 1.5em;
}

#headlineBox .textBox h4 {
    margin-top: 1em;
}

.fieldsection {
    width: 24%;
    height: 300px;
    /*background-color:transparent;*/
    /*background-color:#2AED6B;*/
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/fieldDB2.png");
    background-size: 100% 100%;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 100px;
    /*vertical-align:middle;*/
    padding-top: 5%;
}

.avgsection {
    width: 24%;
    background-color: #fff;
    display: inline-block;
}

.hashes {
    background-color: transparent;
    height: 20px;
    display: inline-block;
}

.hashes div {
    width: 11.1%;
    height: 20px;
    border-left: 3px solid #fff;
    display: inline-block;
}

.los {
    border-right: 5px red solid;
}

.otherstats {
    display: none;
}

.bar:hover {
    opacity: 0.9;
}

#rb .fieldsection {
    border-top: 10px #C5D86D solid;
}

.highlight {
    font-weight: 900;
    font-size: 1.2em;
}

.wrapper-demo {
    text-align: left;
}

.wrapper-dropdown-1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    border-radius: 0 !important;
}

.touchdown {
    border: 2px solid #00f;
}

.interception {
    border: 2px solid #f00;
}

.both {
    border: 2px solid #f0f;
}

.bigNum {
    font-size: 2em !important;
}

#fieldQB {
    /*background-image: url("img/field.png");*/
}

#rb .fieldsection {
    width: 97%;
}

#rb .bar {
    display: inline-block;
    width: 15% !important;
    height: 290px;
}

#rb .avg {
    display: inline-block;
    width: 15% !important;
}

#smallLegend .key {
    margin: 0 5px 10px 5px;
    height: 12px;
    display: inline-block;
    background-image: url("img/fieldDBkey.png");
}

#smallLegend .key div {
    height: 12px;
    width: 30px;
    display: inline-block;
}

#smallLegend {
    font-size: 0.8em;
    color: #bbb;
    margin-top: 15px;
}

.tinybreak {
    padding: 3px;
}

h4 {
    text-align: left !important;
}

@media (max-width:450px) {
    #wrapper {
        width: 100%;
    }
    #headlineBox {
        padding: 0;
    }
    #headlineBox img {
        float: none;
        width: 100%;
        padding-right: 0;
    }
    #headlineBox .textBox {
        width: 100%;
        padding-left: 0 !important;
    }
    .wrapper-dropdown-1 {
        width: 100%;
    }
    .avgsection,
    .fieldsection {
        width: 24%;
    }
    .otherstats {
        font-size: 0.8em;
    }
    #viewSwitch {
        margin-left: 0px;
    }
    .bigNum {
        font-size: 2em !important;
    }
}