/* PROJECT STYLES */
body {
    margin: 0;
    padding: 0;
}

#map {
    bottom: 0;
    position: absolute;
    top: 40px;
    width: 100%;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.leaflet-control-zoom {
    display: none;
    visibility: hidden;
}

.leaflet-control-attribution {
    display: none !important;
}

path:hover {
    fill-opacity: 0.8 !important;
    stroke-color: #000 !important;
    fill: #333 !important;
}

.countyName {
    font-weight: 900;
}

.legend label,
.legend span {
    color: #808080;
    display: block;
    float: left;
    font-size: 13px;
    height: 15px;
    text-align: center;
    width: 30px;
}