/* PROJECT STYLES */
body {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#viewSwitch {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.chartHeader {
    height: auto;
    padding: 12px;
    padding-bottom: 5px;
    text-align: center;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.chatter {
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    text-align: left;
}

#chart .c3-line {
    opacity: 0 !important;
    stroke-width: 5px !important;
}

#chart_m .c3-line {
    opacity: 0 !important;
    stroke-width: 5px !important;
}

.container {
    text-align: center;
    width: 100%;
}

.legendChart {
    width: 100%;
}

.c3-area {
    opacity: 0.8 !important;
}

.byline {
    font-size: .8em;
    text-align: right !important;
}

.byline a {
    color: #ccc !important;
    font-weight: 400;
}

p {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

h4 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

#wrapper {
    width: 100%;
}

.wrapper-dropdown-1 {
    background: #ddd;
    border: 1px solid #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.10);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 8px;
    position: relative;
    width: 200px;
    width: 250px;
    z-index: 900;
}

.wrapper-dropdown-1 .dropdown {
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    left: 0;
    list-style: none;
    margin-top: 0px !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
}

ul.dropdown.months {
    background-clip: padding-box;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    margin: 0;
    margin-top: -1px;
    moz-box-sizing: border-box;
    padding: 0;
    webkit-box-sizing: border-box;
}

.wrapper-dropdown-1 .dropdown {
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    font-weight: normal;
    left: 0;
    list-style: none;
    margin-top: 0px !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
}

.wrapper-dropdown-1 .dropdown li:hover a {
    background: #EFEFEF;
}

header[role="banner"] {
    background: #f0f0f0;
    height: 40px;
    width: 100%;
    z-index: 1000;
}

.c3-tooltip th {
    background-color: #aaa;
    color: #FFF;
    font-family: "Benton Sans";
    font-size: 12px;
    padding: 2px 5px;
    text-align: left;
}

.byline {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.footnote {
    color: #ccc;
    font-size: 0.7em;
}

#chart_m {
    display: none;
}

#totals {
    color: #333;
    font-size: 2.75em;
    letter-spacing: -.5px;
    margin-top: 3px;
}

#all {
    background-color: #ddd;
    border-radius: 5px;
    float: left;
    font-size: .9em;
    height: 82px;
    margin-top: 3px;
    padding-top: 33px;
    vertical-align: center;
    width: 14.5%;
}

.legendChart {
    float: right;
    width: 85%;
}

.legendChart div {
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    margin: 3px;
    padding: 10px;
    text-align: center;
    width: 19%;
}

.legendChart div:hover,
#all:hover,
.selected2 {
    background-color: #557799 !important;
    color: #fff !important;
    cursor: pointer;
}

.chartTitle {
    font-size: 1em;
}

@media (max-width:500px) {
    #chart {
        display: none;
    }
    #chart_m {
        display: block;
    }
    #all {
        float: none;
        width: 97%;
        margin: 0 auto 3px auto;
    }
    .legendChart {
        width: 100%;
    }
    .legendChart div {
        width: 47%;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        color: #000;
    }
}