body,
#filter,
#filter input:focus,
p {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}
#wrapper{
    width:800px;
    margin-left:auto;
    margin-right:auto;

}
.chart, .chart svg {
    width:100%;
    height:250px;
}
.chart .c3-line {
    stroke-width: 6px !important;
}

#map { 
    width:800px; 
}

.map {
    width:800px; 
    position:absolute; 
    top:0; 
    bottom:700px; 
    height:500px;
}

.mapOther {
    width:800px; 
    position:absolute; 
    top:0; 
    bottom:700px; 
    height:500px;
}

.blockSpace {
    height:530px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-logo {
    display:none !important;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass { 
  display:none !important;
}
#filter input {
    border-radius: 0 !important;
    width: 100% !important;
}

#filter {
    padding: 0px !important;
}
#districtSelect {
    font-weight: 900;
    font-size: 1.7em;
    text-align: left;
}

#districtSelect:hover {
    cursor: pointer;
    opacity: 0.5;
}
.row {
    padding:5px
}
.row:hover {
    opacity:0.5;
    cursor:pointer;
}
#cities {
    display: block;
    height: 369px;
    overflow-y: auto;
    z-index: 90;
}
#listing {
    display: none;
}
.chartHead img {
    width:70px;
}
.onoffswitch {
    float:right;
    position: relative; width: 187px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "PRESENT";
    padding-left: 10px;
    background-color: #333333; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "1966";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 28px; margin: 1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 153px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.adjacent {
    width:48%;
    display:inline-block;
}

.pct {
    font-weight:900;
}

.pos {
    color:#118241;
}

.neg {
    color:#857AAA;
}

.topLabels {
    padding:20px;
}

.topLabels div {
    width:48%;
    display:inline-block;
}

.rightSide {
    text-align:right;
    font-weight:900;
}

.leftSide {
    text-align:left;
    font-weight:900;
}

#legendContainer {
    margin-left: auto;
    margin-right: auto;
    width: 282px;
    height: 30px;
    text-align: center;
}

@media only screen and (max-width:800px)  {
#wrapper  {
  width: 100%;
 }
 #map, .map {
  width:100%;
  height:250px
}
.blockSpace {
    height:275px;
}
 }

@media only screen and (max-width:700px)  {
.adjacent {
    width:100%;
}
#districtSelect {
    font-size:1.3em;
    padding:10px;
}
.mapboxgl-ctrl-geocoder {
    display:none;
}
}