/* PROJECT STYLES */
h1 {
    font-family: "Arial", sans serif;
}

#smokechart {
    float: left;
}

body {
    margin: 0;
    padding: 0;
    font-family: Popular, sans-serif;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

#map {
    height: 500px;
    width: 100%;
    cursor: pointer;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.legend label,
.legend span {
    display: block;
    float: left;
    height: 15px;
    width: 20%;
    text-align: center;
    font-size: 9px;
    color: #808080;
}

.leaflet-control-zoom {
    visibility: hidden;
    display: none;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

path.invisible {
    fill: none;
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 8px;
}

text.label {
    font-size: 24px;
    font-weight: bold;
}

.tick {
    height: 750px !important;
}

#chart {
    width: 800px;
}

@media only screen and (max-width:800px) {
    #chart {
        width: 100% !important;
    }
}