// _base.scss
// ==============
  ::selection { background: #bbb !important; }

  body { overflow-x:hidden; }
  a { color:#ccc; text-decoration:none; }
  a:hover { color:#333; }
  .byline { font-family: $bentonSans; font-weight:900; color:#888; }
  .byline a { color:#888; }

/*COLOR LEGENDS*/
  .legend label, .legend span { display:block; float:left; height:15px; width:35px; text-align:center; font-size:12px; color:#808080; font-family: $bentonSans; }

/*SEARCH BOX FILTERS*/
  #filter { font-family: $bentonSans; font-size:.9em; width: 100% !important;}
  #filter input { width: 100% !important; padding: 0 10px 0 10px; font-family: $bentonSans !important; border-radius:5px !important; margin:0; width:100%; height:30px; line-height:120%; font-size: 1em; -webkit-appearance: none;
    -webkit-border-radius:0; border-radius:0; box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); color: rgba(0,0,0,0.75);  -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; background-color: #fff !important; font-family: inherit; border: 1px solid #eee !important; 
    background-size: 14px 14px;
    background-repeat: no-repeat; 
    background-position: 98% 50%; }
  #filter input:focus { width: 100% !important; font-family: $bentonSans !important; box-shadow: 0 0 5px #999; padding: 1px 10px 1px 10px; border: 1px solid #61bd1a; }

/*VARIOUS TITLES AND CHATTER*/
  .chartTitle { font-family: $bentonSans !important; font-weight:900; margin-top:15px; font-size:1.2em; }
  .chatter { font-family: $bentonSans !important; font-size:.9em; margin-top:5px; }
  p { font-family: $poynterSerif; font-size: 15px; line-height: 140%; margin-bottom: 14px; letter-spacing: -0.3px; }
  .demographic { font-family: $bentonSans !important; font-size:.9em; }
  .source { font-size:.5em; color:#ccc; font-family: $bentonSans;  }

/*HIGHLIGHTED NUMBERS*/
  .num { font-family: $popular; font-weight:900; }
  .bigNum { font-family: $popular; font-weight:900; font-size:3.5em; }

/*BOOTSTRAP BUTTON CHECKBOX STYLES*/
  .btn-group { margin-left:0; width:100%; text-align:center; }
  .btn-primary { width:19.6%; text-align:center; background-color: #333; border: 0; border-radius:0; color: #ffffff; cursor: pointer; display: inline-block; font-family: arial; font-size: 13px; font-weight: 900; moz-border-radius:0; padding: 13px 26px; text-decoration: none; webkit-border-radius:0; }
  .btn-primary input[type=checkbox] { border:none; display:none !important; }
  .btn-primary:hover { background-color:#5cbf2a; }
  .active { background-color:#5cbf2a; }

/*D3 SLIDER STYLES*/
  #sliderDiv { height:20px; padding:15px; }
  .d3-slider-handle { position: absolute; width: 1.2em; height: 1.2em; border: 1px solid #ddd !important; border-radius:0; background: #ddd !important; z-index: 3; }
  .d3-slider-handle:hover { background: #333 !important; cursor:pointer; }

/*D3 MAP STYLES*/
  .background { fill: none; pointer-events: all; }
  .states { fill: #aaa; }
  #state-borders { fill: none; stroke: #fff; stroke-width: 2px; stroke-linejoin: round; stroke-linecap: round; pointer-events: none; } 
  .tooltip{ font-family: $bentonSans;  background-color:rgba(255,255,255,1); height: auto; width: auto; padding:10px; border-radius:0; border: 1px solid black; font-size:13px; font-family:Arial; }
  .states .active { fill: #333 !important; fill-opacity: 1 !important; }
  .faded { fill-opacity: 0.5 !important; }
  .states path:hover { fill:#333 !important; cursor:pointer;}

/*C3 TOOLTIPS*/
  th, text { color:#000 !important; font-family: $bentonSans; font-size:11px; }
  .tips th { background-color:#fff !important; }
  .tips { border:none !important; }
  .value { color:#000 !important; font-family: $popular; font-weight:900; } 
  .name { font-family: $bentonSans; }

/*NVD3 STYLES*/
  .nvd3 .nv-x .nv-axis .tick line, .nvd3 .nv-y .nv-axis .tick line { fill: none; display: none !important; stroke: #fff; shape-rendering: crispEdges; opacity: 0 !important; }
  .nvtooltip { border-radius:0 !important; background-color:#fff; border-color:#000; }
  text { font-family: $bentonSans !important; }
  .nv-axisMaxMin { font-family: $popular!important; }

/*NAV BUTTONS*/
  .myButtonNav { background-color: #ddd; border: 0; border-radius: 0; color: #000; cursor: pointer; display:block; font-family: "Benton Sans",Helvetica,Arial,sans-serif; font-size: 1em; font-weight: 900; moz-border-radius:0; padding: 6px; text-decoration: none; webkit-border-radius:0; width:100%; margin:5px;}
  .myButtonNav:hover { background-color: #378f00 !important; }
  .myButtonNav:active { background-color: #5cbf2a; }

/*STANDARD TOGGLE BUTTONS*/
  .myButton { background-color:#61bd1a; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:0;  display:inline-block; cursor:pointer; color:#000; font-family:arial; font-size:1em; padding:13px 26px; text-decoration:none; font-weight:900; } 
  .myButton:active { background-color:#5cbf2a; }
  .myButton:hover { background-color:#5cbf2a !important; }
  .myButton2 { background-color:#61bd1a; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:0;  display:inline-block; cursor:pointer; color:#000; font-family:arial; font-size:1em; padding:13px 26px; text-decoration:none; font-weight:900; } 
  .myButton2:active { background-color:#5cbf2a; }
  .myButton2:hover { background-color:#5cbf2a !important; }
  .myButton3 { background-color:#61bd1a; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:0;  display:inline-block; cursor:pointer; color:#000; font-family:arial; font-size:1em; padding:13px 26px; text-decoration:none; font-weight:900; } 
  .myButton3:active { background-color:#5cbf2a; }
  .myButton3:hover { background-color:#5cbf2a !important; }
  .myButton4 { background-color:#61bd1a; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:0;  display:inline-block; cursor:pointer; color:#000; font-family:arial; font-size:1em; padding:13px 26px; text-decoration:none; font-weight:900; } 
  .myButton4:active { background-color:#5cbf2a; }
  .myButton4:hover { background-color:#5cbf2a !important; }
  .myButton5 { background-color:#61bd1a; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:0;  display:inline-block; cursor:pointer; color:#000; font-family:arial; font-size:1em; padding:13px 26px; text-decoration:none; font-weight:900; } 
  .myButton5:active { background-color:#5cbf2a; }
  .myButton5:hover { background-color:#5cbf2a !important; }
  .switch { padding:10px; display:inline-block; text-align:center; width:127px; background-color:#fff; font-weight:900; font-family: $bentonSans; border:1px solid black;  margin-top:4px; }
  .switch:hover, .selected { background-color:#333 !important; color:#fff !important; cursor:pointer; margin-bottom:4px; }

/*SECONDARY TOGGLE BUTTONS*/
  .myButton_ { background-color:#8B2219; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:0; display:inline-block; cursor:pointer; color:#ffffff; font-family:arial; font-size:12px; padding:3px 5px; text-decoration:none; font-weight:900; }
  .myButton_:active { background-color:#ad645e; }

/*KILL BUTTON FOCUS BORDER*/
   button:focus { outline:0 !important; }
   :focus { outline:0; }
   
/*BREAKER*/
  .breaker { clear:both; margin:7px; padding:10px; }

/*RESET BUTTON*/
  .zoom{ text-decoration:none; font-weight:normal !important; color:steelblue; float:right !important; font-family: $bentonSans !important; }
  .zoom:hover { cursor:pointer; }

/*CONTENT WRAPPER*/
  #wrapper{ width:98%; }

/*DATATABLE STYLES*/
  tr.odd td.sorting_1 { background-color: #efefef; }
  tr.even td.sorting_1 { background-color: #efefef; }
  tr.even { background-color: #fff !important; }
  tr.odd { background-color: #fff !important; }
  .dataTables_length{ display:none; }
  .dataTable{ margin-bottom:18px; }
  .dataTables_wrapper .dataTables_paginate { text-align:center; }
  .dataTables_length, .dataTables_info { display:none; }
  .dataTables_info { display:none; }
  .dataTables_scrollHead { display:none;}
  .dataTables_wrapper .dataTables_filter { float: left; }
  input { margin-left:0 !important; margin:0; width:100%; height:30px; line-height:120%; font-size: 1em; -webkit-appearance: none;
    -webkit-border-radius:0; border-radius:0; box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); color: rgba(0,0,0,0.75);   -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; background-color: #fff !important; font-family: inherit; border: 1px solid #ddd !important; }
  #events_filter { width:100%; height:50px; }
  input:focus {outline:0 !important;}
  input:focus { box-shadow: 0 0 5px #61bd1a; padding: 3px 0px 3px 3px; border: 1px solid #61bd1a; }
  td { padding: 8.88px !important; font-family:Arial; font-size:10px !important; font-family: $bentonSans; }
  th { background: #ccc !important; font-size:1em; font-family: $poynterSerif; }
  table.dataTable.no-footer{ margin-bottom:0 !important; }
  table { font-size:12px; }
  .dataTables_scrollBody thead{ visibility:hidden;height:0 !important; }
  th.sorting_asc, th.sorting_desc { background:#333 !important; font-weight:bold; color:#fff !important; }
  th { display: table-cell;vertical-align: initial; }
  th { padding:5px !important; }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before { height: 20px; width: 20px; display: block; color: white; border: 2px solid white; position:static !important; border-radius: 16px; text-align: center; line-height: 20px; box-shadow: 0 0 0 #444; box-sizing: content-box; content: ''; float: left; font-weight: bold; margin-right: 6px; background-color: #61bd1a; font-size: 16px; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background:#ddd !important; }
  .paginate_button:hover { background:#333 !important; color:#fff !important; cursor:pointer !important; }
  .dataTables_paginate { text-align:center !important; width:100%; }
  .paginate_button { font-family: $popular; }
  .dataTable { min-height:500px; }

/*FANCY DROPDOWNS*/
  *, *:after, *:before { box-sizing:border-box; margin:0; moz-box-sizing:border-box; padding:0; webkit-box-sizing:border-box; }
  ::-moz-selection { background:transparent; }
  .wrapper-demo { font-weight:400; zoom:1; z-index:999; display:inline-block; width:100%; }
  .wrapper-demo:after { clear:both; content:""; display:table; }
  .wrapper-dropdown-1 { display:inline-block;font-family: $bentonSans;z-index:900;background:#ddd;color:#333;cursor:pointer;font-weight:bold;outline:none;padding:8px;position:relative;width:200px;border:1px solid #aaa;box-shadow:0 2px 1px rgba(0, 0, 0, 0.10);font-size:14px; width:100%; }
  .wrapper-dropdown-1:after { border-color:transparent #333; border-style:solid; border-width:6px 0 6px 6px; content:""; height:0; margin-top:-6px; position:absolute; right:16px; top:50%; width:0; }
  .wrapper-dropdown-1 .dropdown { font-weight:normal;left:0;list-style:none;opacity:0;pointer-events:none;position:absolute;right:0;top:100%;border:1px solid #aaa;background:#fff;box-shadow:0 4px 5px rgba(0, 0, 0, 0.15);margin-top:0px !important;  }
  .wrapper-dropdown-1 .dropdown li a { color:#9e9e9e; display:block; padding:10px 20px; text-decoration:none; }
  .wrapper-dropdown-1 .dropdown li:hover a { background:#ddd; }
  .wrapper-dropdown-1 .dropdown { font-weight:normal;left:0;list-style:none;opacity:0;pointer-events:none;position:absolute;right:0;top:100%;border:1px solid #aaa;background:#fff;box-shadow:0 4px 5px rgba(0, 0, 0, 0.15);margin-top:0px !important; }
  .wrapper-dropdown-1 .dropdown li:hover a { background:#EFEFEF; }
  .wrapper-dropdown-1.active .dropdown { opacity:1; pointer-events:auto; }
  .wrapper-dropdown-1.active:after { border-color:#333 transparent; border-width:6px 6px 0 6px; margin-top:-3px; }
  .wrapper-dropdown-1.active { background:#ddd; background:linear-gradient(to right, #ddd 0%,#ddd 78%,#ffffff 78%,#ffffff 100%); background:-moz-linear-gradient(left, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%); background:-ms-linear-gradient(left, #ddd 0%,#ddd 78%,#ffffff 78%,#ffffff 100%); background:-o-linear-gradient(left, #ddd 0%,#ddd 78%,#ffffff 78%,#ffffff 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%,#ddd), color-stop(78%,#ddd), color-stop(78%,#ffffff), color-stop(100%,#ffffff)); background:-webkit-linear-gradient(left, #ddd 0%,#ddd 78%,#ffffff 78%,#ffffff 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 ); }
  ul.dropdown.months { box-sizing:border-box;margin:0;moz-box-sizing:border-box;padding:0;webkit-box-sizing:border-box;margin-top:-1px;border-radius:0 0 4px 4px;background-clip:padding-box; }
  .no-opacity .wrapper-dropdown-1 .dropdown,
  .no-pointerevents .wrapper-dropdown-1 .dropdown { display:none; opacity:1; pointer-events:auto; }
  .no-opacity .wrapper-dropdown-1.active .dropdown,
  .no-pointerevents .wrapper-dropdown-1.active .dropdown { display:block; }
  header[role="banner"] { width:100%;height:40px;z-index:1000;background:#f0f0f0; }


/*DOWNLOAD BUTTON STYLES*/
  .downloadButton { font-family: $bentonSans; font-weight:bold; color:#333333; border:none; font-size:.9em; text-align:center; margin-top:15px; margin-left:1%; padding-top:10px; width: 99%; background-color:#fff; color:#333; border-top: 1px solid #ccc; background-size: 20px 20px; background-repeat: no-repeat; background-position: 2% 50%; }
  .downloadButton:hover {background-color:#fff !important; opacity:.5; cursor:pointer; }
  .downloadButton:active {background-color:#fff !important;}

/*MAPBOX STYLES*/
  .mapbox-logo, .leaflet-control-attribution { display:none !important; }
  .map-legend .swatch { width:20px; height:20px; float:left; margin-right:10px; }
  .leaflet-popup-close-button { display: none !important; }
  .leaflet-popup-content-wrapper { pointer-events: none; }
  .leaflet-tile-pane { opacity: .5; }
  .leaflet-popup { font-family: $bentonSans; }

/*DATADROP WRAPPER STYLES*/
    .chartHeader { padding:12px; height:auto; }
    .chartFooter { padding:12px; height:auto; }
    .sources { font-family: $bentonSans !important; float:left; height:inherit; }
    .branding { font-weight:900; float:right; height:inherit; font-family: $bentonSans !important; }
    .branding a { color:#333; }
    .branding a:hover { opacity:.5; }
    @media (max-width:600px) {
      .sources, .branding { width:100%; float:none; }
    }

/*DEMOCRATIC PARTY QUANTILE*/
  .dq1 { fill:#99D0E5; background-color:#99D0E5; }
  .dq2 { fill:#79B0C5; background-color:#79B0C5; }
  .dq3 { fill:#629ABB; background-color:#629ABB; }
  .dq4 { fill:#4B85B1; background-color:#4B85B1; }
  .dq5 { fill:#356FA7; background-color:#356FA7; }
  .dq6 { fill:#1E5A9D; background-color:#1E5A9D; }

/*REPUBLICAN PARTY QUANTILE*/
  .rq1 { fill:#C6A29E; background-color:#C6A29E;  }
  .rq2 { fill:#A7706B; background-color:#A7706B;  }
  .rq3 { fill:#A45958; background-color:#A45958;  }
  .rq4 { fill:#A14345; background-color:#A14345;  }
  .rq5 { fill:#9E2C32; background-color:#9E2C32;  }
  .rq6 { fill:#9B161F; background-color:#9B161F;  }

/*GREEN MAP QUANTILE*/
  .mq1 { fill:#74C476; background-color:#74C476; }
  .mq2 { fill:#49ab4b; background-color:#49ab4b; }
  .mq3 { fill:#347c36; background-color:#347c36; }
  .mq4 { fill:#204c21; background-color:#204c21; }
  .mq5 { fill:#1E5A9D; background-color:#163417; }

/*HIGHLIGHT background-color SWATCHES*/
  .b_swatch { background-color:#1F6D6D; font-weight:900; }
  .r_swatch { background-color:#B53434; font-weight:900; }
  .o_swatch { background-color:#B56E34; font-weight:900; }
  .g_swatch { background-color:#299129; font-weight:900; }

/*CATEGORICAL CHARTS*/
  .leaf { fill:#66AF50; background-color:#66AF50; }
  .clay { fill:#BF603C; background-color:#BF603C; }
  .swedish { fill:#59A897; background-color:#59A897; }
  .bark { fill:#4C4C39; background-color:#4C4C39; }

/*RED SHADED RAMP*/
  .red1 { fill:#F2AC93; background-color:#F2AC93; }
  .red2 { fill:#F28670; background-color:#F28670; }
  .red3 { fill:#F2614C; background-color:#F2614C; }
  .red4 { fill:#C22A22; background-color:#C22A22; }
  .red5 { fill:#9C0004; background-color:#9C0004; }

/*ORANGE SHADED RAMP*/
  .orange1 { fill:#F2D2A4; background-color:#F2D2A4; }
  .orange2 { fill:#F2AF80; background-color:#F2AF80; }
  .orange3 { fill:#E07242; background-color:#E07242; }
  .orange4 { fill:#C2421F; background-color:#C2421F; }
  .orange5 { fill:#822010; background-color:#822010; }

/*BLUE SHADED RAMP*/
  .blue1 { fill:#D1E6E1; background-color:#D1E6E1; }
  .blue2 { fill:#A7E6E3; background-color:#A7E6E3; }
  .blue3 { fill:#67B4C2; background-color:#67B4C2; }
  .blue4 { fill:#3580A3; background-color:#3580A3; }
  .blue5 { fill:#0D4673; background-color:#0D4673; }

/*GREEN SHADED RAMP*/
  .green1 { fill:#C7E5B5; background-color:#C7E5B5; }
  .green2 { fill:#9EE384; background-color:#9EE384; }
  .green3 { fill:#5BBF48; background-color:#5BBF48; }
  .green4 { fill:#299E3D; background-color:#299E3D; }
  .green5 { fill:#118241; background-color:#118241; }

/*GREY SHADED RAMP*/
  .gray1 { fill:#ddd; background-color:#ddd; }
  .gray2 { fill:#CCC; background-color:#CCC; }
  .gray3 { fill:#969696; background-color:#969696; }
  .gray4 { fill:#636363; background-color:#636363; color:#fff; }
  .gray5 { fill:#252525; background-color:#252525; color:#fff; }

/*BLUE-GREY SHADED RAMP*/
  .grayblue1 { fill:#DAE1E7; background-color:#DAE1E7; }
  .grayblue2 { fill:#C6D1D9; background-color:#C6D1D9; }
  .grayblue3 { fill:#A8B9C5; background-color:#A8B9C5; }
  .grayblue4 { fill:#7F98AA; background-color:#7F98AA; }
  .grayblue5 { fill:#556E7F; background-color:#556E7F; }
  .grayblue6 { fill:#2C3942; background-color:#2C3942; }

/*PURPLE SHADED RAMP*/
  .purple5 { fill:#4c1926; background-color:#4c1926; color:#ffffff; }
  .purple4 { fill:#693c46; background-color:#693c46; color:#ffffff; }
  .purple3 { fill:#865f67; background-color:#865f67; color:#ffffff; }
  .purple2 { fill:#a3858b; background-color:#a3858b; color:#ffffff; }
  .purple1 { fill:#C1ACB1; background-color:#C1ACB1; }

/*POLITICAL SHADED RAMP*/
  .gopDark { fill:#9C0004; background-color:#9C0004; }
  .gopLight { fill:#F2614C; background-color:#F2614C; }
  .neutral { fill:#F7F7F7; background-color:#F7F7F7; }
  .dflLight { fill:#67B4C2; background-color:#67B4C2; }
  .dflDark { fill:#0D4673; background-color:#0D4673; }
  .republican { fill:#8C1B17 !important; pointer-events: all; font-weight:bold; color:#fff; }
  .rlikely { background-color:#A5484D; fill:#A5484D !important; pointer-events: all; font-weight:bold; }
  .rlean { background-color:#f7816E; fill:#f7816E !important; pointer-events: all; font-weight:bold; }
  .r1 { background-color:#C68985; fill:#C68985 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .r2 { background-color:#A5484D; fill:#A5484D !important; color:white !important; pointer-events: all; font-weight:bold; }
  .r3 { background-color:#A52129; fill:#A52129 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .r4 { background-color:#8C1B17; fill:#8C1B17 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .r0 { background-color:#8C1B17; fill:#8C1B17 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .gray3 { color:white !important; pointer-events: all; font-weight:bold; }
  .mid { background-color:#aaa; fill:#aaa !important; color:white !important; pointer-events: all; font-weight:bold; }
  .democrat { fill:#3F88C5 !important; pointer-events: all; font-weight:bold; color:#fff;  }
  .dlikely { background-color:#5ca5c3; fill:#5ca5c3 !important; pointer-events: all; font-weight:bold; }
  .dlean { background-color:#72A9D6; fill:#72A9D6 !important; pointer-events: all; font-weight:bold; }
  .d1 { background-color:#ABCEE8; fill:#ABCEE8 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .d2 { background-color:#5ca5c3; fill:#5ca5c3 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .d3 { background-color:#4f97c4; fill:#4f97c4 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .d4 { background-color:#3f88c5; fill:#3f88c5 !important; color:white !important; pointer-events: all; font-weight:bold; }
  .d0 { background-color:#3F88C5; fill:#3F88C5 !important; color:white !important; pointer-events: all; font-weight:bold; }

/*BLIND SAFE DIVERGENCE RAMP*/
  .negDark { fill:#271D42; background-color:#271D42; color:#fff; }
  .negMid { fill:#61538F; background-color:#61538F; color:#fff; }
  .negLight { fill:#AFA8C9; background-color:#AFA8C9; }
  .neutral { fill:#ddd; background-color:#ddd; }
  .posLight { fill:#82D870; background-color:#82D870; }
  .posMid { fill:#3FAA29; background-color:#3FAA29; color:#fff; }
  .posDark { fill:#118241; background-color:#118241; color:#fff; }