
// _variables.scss
// =================

$bentonSans: 'Benton Sans',Helvetica,Arial,sans-serif;
// regular, bold, italic
$bentonSansCondMed: 'Benton Sans Condensed Medium', Helvetica, Arial, sans-serif;
$popular: 'Popular', Helvetica,Arial,sans-serif;
// regular, bold
$popularLight: 'Popular Light', Helvetica,Arial,sans-serif;
$popularMedium: 'Popular Medium', Helvetica,Arial,sans-serif;
$poynterSerif: 'Poynter Serif RE',Georgia,Times,serif;
// regular, bold, italic, bold italic
$whitmanDisplayCompressedBold: 'Whitman Display Compressed Bold', serif;
$whitmanDisplayCondensedBold: 'Whitman Display Condensed Bold', serif;
$whitmanDisplay: 'Whitman Display', serif;
// regular, italic, bold
$whitmanOSF: 'Whitman OSF', serif;
// regular, italic, bold


$beige         : #E4C691;
$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;