/* PROJECT STYLES */
#wrapper {
    text-align: center;
    width: 100%;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.myButton {
    background-color: #61bd1a;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-family: arial;
    font-size: 13px;
    padding: 10px;
    text-decoration: none;
    font-weight: 900;
    width: 16%;
}

.myButton:hover {
    background-color: #378f00 !important;
}

.myButton:active {
    background-color: #378f00;
}

button:focus {
    outline: 0 !important;
}

svg {
    width: 960 !important;
    height: 500 !important;
}

.scaling {
    float: left;
}

@media only screen and (max-width:650px) {
    .myButton {
        width: 48%;
    }
}