/* PROJECT STYLES */
.chart {
    margin: 10px;
    height: 300px;
}
.demographic {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}
.chatter {
    padding-bottom: 10px;
}
#poverty_white .c3-grid line {
    stroke: none;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

#poverty_white .c3-axis-x > path.domain,
#poverty_white .tick > line[x2="-6"] {
    visibility: hidden;
}
#poverty_minority .c3-grid line {
    stroke: none;
}
#poverty_minority .c3-axis-x > path.domain,
#poverty_minority .tick > line[x2="-6"] {
    visibility: hidden;
}
#poverty_integrated .c3-grid line {
    stroke: none;
}
#poverty_integrated .c3-axis-x > path.domain,
#poverty_integrated .tick > line[x2="-6"] {
    visibility: hidden;
}
#proficiency_white .c3-grid line {
    stroke: none;
}
#proficiency_white .c3-axis-x > path.domain,
#proficiency_white .tick > line[x2="-6"] {
    visibility: hidden;
}
#proficiency_minority .c3-grid line {
    stroke: none;
}
#proficiency_minority .c3-axis-x > path.domain,
#proficiency_minority .tick > line[x2="-6"] {
    visibility: hidden;
}
#proficiency_integrated .c3-grid line {
    stroke: none;
}
#proficiency_integrated .c3-axis-x > path.domain,
#proficiency_integrated .tick > line[x2="-6"] {
    visibility: hidden;
}
.c3-line-Charters {
    stroke-width: 5px !important;
}
.bigTitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}