/* PROJECT STYLES */

body,
p {
    font-family: "Benton Sans";
    font-size: .9em;
    margin: 0px;
    width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Benton Sans";
    font-weight: bold;
}

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #aaa;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.tooltip {
    background-color: rgba(255, 255, 255, 1);
    height: auto;
    width: auto;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    border: 1px solid black;
    font-size: 13px;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    ;
}

#states .active {
    fill: #333 !important;
    fill-opacity: 1 !important;
}

.faded {
    fill-opacity: 0.5 !important;
}

#map {
    float: left;
}

#infobox h4 {
    margin-top: 1.83em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
}

#infobox {
    width: 100%;
    height: auto;
    float: right;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

.downloadButton {
    background-color: #61bd1a;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 3px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Benton Sans";
    font-size: 13px;
    padding: 13px;
    text-decoration: none;
    font-weight: 900;
    margin: 5px;
    width: 200px;
}

.downloadButton:active {
    background-color: transparent;
}

#wrapper {
    width: 100%;
}

.county_name {
    font-size: 20px;
    font-family: "Benton Sans";
    font-weight: bold;
}

.legend {}

.legend label,
.legend span {
    display: block;
    font-family: "Benton Sans";
    float: left;
    height: 15px;
    width: 35px;
    text-align: center;
    font-size: 11px;
    color: #444444;
}

#quantize p {
    margin-bottom: 8px;
}

#quantize {}

.prevalence {
    float: left;
    font-weight: bold;
}

.prevalence a {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
}

.num {
    float: right;
    font-size: 1.5em;
    font-weight: 900;
    color: #2ca25f;
}

.bigNum {
    font-size: 3.5em;
    font-weight: 900;
    color: #2ca25f;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
    clear: both;
    margin-top: 5px;
}

path:hover {
    /*fill:transparent !important;*/
    cursor: pointer;
}

#states .active:hover {
    fill: #333 !important;
}

.downloadButton {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: .9em;
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ccc;
    /*background-image: url('img/downloadDoc.svg')*/
    ;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

.downloadButton:hover {
    background-color: #fff !important;
    opacity: .5;
}

.downloadButton:active {
    background-color: #fff !important;
}

.breaker {
    clear: both;
    padding: 5px 0;
}

.swatch {
    color: #111111;
    font-weight: 900;
}

.chatter h2 {
    color: #666;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}

.boxRight {
    width: 160px;
    float: right;
    text-align: left;
}

.boxLeft {
    width: 180px;
    float: left;
    text-align: left;
}

.zoom {
    float: none !important;
}

@media only screen and (max-width:950px) {
    body {
        width: 320px;
    }
    .boxRight {
        width: 160px;
        float: right;
        text-align: left;
    }
    .boxLeft {
        width: 160px;
        float: left;
        text-align: left;
    }
    #infobox {
        width: 100% !important;
        float: none;
    }
    #map {
        float: none;
        left: -30px;
        position: relative;
    }
}