#wrapper {
    width:520px;
    margin-right:auto;
    margin-left:auto;
}

body {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.map { 
	height:430px;
	width:100%;
    text-align:center;
}

.chatter {
    line-height:160%;
}

.chart .c3-line {
    stroke-width: 6px !important;
}

.legendary {
    padding:4px;
}

.tooltip {
    max-width:190px;
    line-height:140%;
}

.districtName {
    font-weight:900;
    line-height:140%;
}

 .byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    font-size:0.6em !important;
    color: #888 !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    line-height:140%;
    text-align:left !important;
}

.red5 {
    color:#ffffff;
}

.none {
    fill:#ffffff !important;
}

.cell {
    width:24%;
    display:inline-block;
}

#countyList {
    height:295px;
    overflow-y:auto;
    overflow-x:auto;
    font-size:0.8em;
}

.tableHead {
    width:24%;
    font-weight: 900;
    display:inline-block;
    height:20px;
}

.tableCell {
    display: inline-block;
    width: 24%;
    height:15px;
    font-family: "Benton Sans";
    vertical-align: middle;
    padding-top:2.7px;
}

#tableBottom {
    padding-top:14px;
}

.tableHead:hover,
.selected {
    background-color: #ffffff !important;
    color: #000 !important;
    cursor: pointer;
    text-decoration:underline;
    margin: 0 !important;
}

.pct {
    text-align:center;
    font-weight:900;
}

.county {
    white-space: nowrap;
}

#countyList .pct {
    color:#ffffff;
}

#filter {
    padding-top:7px;
    padding-bottom:7px;
}

#filter input:focus {
    width: 100% !important;
}

#filter input {
    font-size: .85em;
    width: 100% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.scrollToTop {
    color: steelblue !important;
    margin-top:5px;
    clear:both;
}

.scrollToTop:hover {
    color: #333 !important;
    cursor: pointer;
}

.switch:hover,
.selected {
    background-color: #fff !important;
    color: #000 !important;
    cursor: pointer;
    margin: 0 !important;
}

@media (max-width:520px) {
    #wrapper {
        width:100%;
    }
}