/* PROJECT STYLES */
body,
#filter,
#filter input:focus,
p {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

#groupsList {
    font-size: 0.8em;
}

.tableHead {
    font-weight: 900;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.tableHead:hover {
    opacity: 0.8;
    cursor: pointer;
}

.row {
    padding: 2px;
}

.row:hover {
    opacity: 0.8;
    cursor: pointer;
}

.col {
    display: inline-block;
    width: 20% !important;
    vertical-align: top;
}

.name {
    width: 40% !important;
}

.created {
    display: none;
}

#map {
    height: 400px;
    width: 100%;
}

.map-overlay-container {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

#geocoder-container {
    width: 100%;
    margin-top: 10px;
}

#geocoder-container > div {
    min-width: 100%;
    margin-left: 0;
}

.submit {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.submit a {
    color: steelblue;
}

.zoom {
    float: none !important;
}

.selected {
    background-color: #ffffff !important;
    text-decoration: underline;
    color: #000 !important;
}

.rowSelect {
    opacity: 0.8;
}

@media (max-width:520px) {
    #wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .created,
    .city {
        display: none !important;
    }
    .col {
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
        word-break: break-word !important;
        word-wrap: break-word !important;
        hyphens: auto !important;
    }
}

@media (max-width:400px) {
    .name {
        width: 59% !important;
    }
    .tableHead {
        font-size: 0.8em;
    }
}