/* PROJECT STYLES */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#map {
    height: 800px;
    width: 65%;
    display: inline-block;
}

.mapbox-logo,
.leaflet-control-attribution {
    display: none !important;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    pointer-events: none;
}

#button {
    text-align: center;
    width: 310px;
    margin-right: auto;
    margin-left: auto;
}

#right_rail {
    float: right;
    display: inline-block;
    width: 30%;
}

.districtLabel {
    width: 100%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin: 7px;
    padding: 5px;
}

.districtLabel:hover {
    cursor: pointer;
}

#button {
    padding: 10px;
}

.downloadButton {
    display: none !important;
}

.switch {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: #fff;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid black;
}

.switch:hover,
.selected {
    background-color: #333 !important;
    color: #fff !important;
    cursor: pointer;
    margin-bottom: 0 !important;
}

@media only screen and (max-width:650px) {
    #map {
        float: none;
        width: 100%;
    }
    #right_rail {
        float: none;
        width: 100%;
        text-align: center;
    }
}