* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body,
#filter,
#filter input:focus,
p {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#wrapper {
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.legendary {
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
    margin-bottom: 3px;
}

.slide {
    display:none;
}

#down {
    display:none;
}

.byline a {
    color: #888;
}

.byline {
    line-height:130%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.chatter {
    line-height:160%;
    text-align:left;
    margin-bottom: 20px;
}

.chart {
    width:48%;
    vertical-align:top;
    display:inline-block;
}

.left {
    margin-right: 3.5%;
}

.geocoder, .mapboxgl-ctrl-geocoder {
    width:100%;
    margin-bottom:10px;
 }

.geocoder-pin-right {
    display:none !important;
}

.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-compass {
    display:none !important;
}

.chartDiv {
    height:250px;
}

.c3-line {
    stroke-width: 1px !important;
}

#map{
    height:400px;
    width: 100%;
}

.map-overlay-container {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.switch:hover, .switch {
    margin:0 !important;
    width:32%;
}

input::focus {
    width: 95%;
}

#filter input {
    border-radius: 0 !important;
    width: 100%;
}

#filter input:focus {
    width: 95% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    box-shadow: 0 0 5px #999;
    padding: 1px 10px 1px 10px;
    border: 1px solid #61bd1a ;
}

#filter {
    padding: 0px !important;
    display: none;
}

#districtSelect, #thisDistrict {
    font-weight: normal;
    font-size: 1.2em;
    text-align: left;
}

#thisDistrict {
    padding: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

#districtSelect {
    color: #626567;
    padding: 15px;
}

.directions {
    font-size: 0.6em;
}

.divider {
    margin-bottom:10px;
    /*border-bottom:1px solid black;*/
}

#districtSelect:hover {
    cursor: pointer;
}

#listedSchools {
    display: block;
    height: 369px;
    overflow-y: auto; 
    display: none;
    z-index: 90;
    width: 96.8%;
    margin-bottom: 15px;
}

li.district {
    text-align: left !important;
    line-height:25px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin-left:1px;
    padding-left: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.outline {
    border: 1px solid #CACFD2;
    border-radius: 10px;
    width: 100%;
 //   margin-top: 50px;
}

li.district:hover {
    cursor: pointer;
    border-bottom: 1px solid #CACFD2;
    border-top: 1px solid #CACFD2;
    background-color: #F2F3F4;
}

li.district.selected {
    border-bottom: 1px solid #CACFD2 !important;
    border-top: 1px solid #CACFD2 !important;
    background-color: #F2F3F4 !important;
    color: black !important;
}

.cell:hover,
.selected2 {
    cursor: pointer;
    opacity: .5;
}

.zoom {
    float: none !important;
    text-align: center;
    padding: 15px;
}

#filter input {
    border-radius: 0 !important;
    width: 95% !important;
    margin-left: 15px !important;
    margin-bottom: 15px !important;
}

#filter_box {
    width: 95% !important;
    margin-left: 15px !important;
    margin-bottom: 15px !important;
}

#filter {
    padding: 0px !important;
}

.selected {
    margin:0 !important;
}

#incomingChart .c3-line, #leavingChart .c3-line {
    opacity:0 !important;
}

#incomingChart .c3-area, #leavingChart .c3-area, #raceChart .c3-area {
  opacity: 0.8 !important;
}

.chartTitle {
    letter-spacing: -0.2px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.c3-line {
    stroke-width: 2.5px !important;
}

@media (max-width:800px) {
    #wrapper { 
        width:100%;
    }
    .chart {
        width:100%;
    }
    .map-overlay-container {
        width: 100%;
        padding: 10px;
        position: static;
    }

    .map-overlay {
        background-color: #fff;
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    }
    #districtSelect, #thisDistrict {
        text-align: left;
    }   
}