/* PROJECT STYLES */
body {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    line-height: 130%;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;
}

.bar.positive {
    fill: steelblue;
}

.bar.negative {
    fill: brown;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.sectionHead {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 90px;
}

.sectionIcon {
    float: left;
    text-align: left;
    display: block;
    height: 80px;
    width: 105px;
    background-color: none
}

.sectionIcon img {
    width: 80px;
    height: 80px;
}

.sectionTitle {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 8px;
}

#menu {
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.myButton2 {
    padding: 8px;
    width: 12%;
    font-size: 1em;
    font-weight: normal;
    background-color: #918677;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    color: #fff;
    border: none;
}

.myButton2:hover {
    background-color: #ccbe9a !important;
    ;
    color: #fff;
    !important;
}

.legend {
    margin-left: 11%;
}

.countyName {
    font-weight: bold;
}

.above {
    background-color: #121212;
}

.mid {
    background-color: #888888;
}

.below {
    background-color: #c7c7c7;
}

.breaker {
    clear: both;
    margin: 7px;
    padding: 10px;
    width: 100%;
}

.section {
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.sideBox {
    height: auto;
    float: right;
    width: 40%;
    margin-right: 8%
}

.map {
    width: 40%;
    float: left;
    margin-left: 8%;
}

.map path:hover {
    fill: #333 !important;
    cursor: pointer;
}

.chatter {
    text-align: left;
    margin-bottom: 0px;
}

.chart svg {
    width:100%;
    height: 330px;
}

.countyName {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.3em;
}

.legend label,
.legend span {
    display: block;
    float: left;
    height: 15px;
    width: 60px;
    text-align: center;
    font-size: 12px;
    color: #808080;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

.nvd3 .nv-x .nv-axis .tick line,
.nvd3 .nv-y .nv-axis .tick line {
    fill: none;
    display: none !important;
    stroke: #fff;
    shape-rendering: crispEdges;
    opacity: 0 !important;
}

.nvtooltip {
    border-radius: 0 !important;
    background-color: #fff;
    border-color: #000;
    font-size: 1em;
}

.zoom {
    display: block;
    text-align: center !important;
    clear: both !important;
    width: 100%;
}

ul,
li {
    list-style: none;
}

.metric {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

.source {
    font-size: .65em;
    color: #999;
    line-height: 130%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    clear: both;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.source a {
    color: #999;
    text-decoration: none;
}

.source a:hover {
    color: #333;
}

.selected {
    background-color: #bc2d26 !important;
    color: #fff !important;
}

.selected:hover {
    color: #fff !important
}

.chatter {
    min-width: 180px !important;
}

.infobox {
    margin-left: 25px;
}

.context {
    text-align: center;
    font-size: .8em;
}


/*DOWNLOAD BUTTON STYLES*/

.downloadButton9 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    border: none;
    font-size: .9em;
    text-align: center;
    margin-top: 15px;
    margin-left: 1%;
    padding-top: 0px;
    width: 99%;
    background-color: #fff;
    color: #333;
    background-image: url('../_common_resources/img/downloadDoc.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 42% 76%;
}

.downloadButton9:hover {
    background-color: #fff !important;
    opacity: .5;
    cursor: pointer;
}

.downloadButton9:active {
    background-color: #fff !important;
}

@media (max-width: 570px) {
    .sideBox,
    .map {
        width: 100%;
        clear: both;
    }
    .zoom,
    .legendContainer,
    .source {
        width: 100%;
        text-align: center;
        clear: both;
        margin: 7px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .legend nav {
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .countyName,
    .metric {
        text-align: center;
    }
    .chart svg {
        height: 230px;
    }
    .myButton2 {
        width: 48%;
        margin-bottom: 5px;
    }
    .downloadButton9 {
        font-family: "Benton Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #333333;
        border: none;
        font-size: .9em;
        text-align: center;
        margin-top: 15px;
        margin-left: 1%;
        padding-top: 0px;
        width: 99%;
        background-color: #fff;
        color: #333;
        background-image: none !important;
    }
}

.nv-bar rect {
    stroke: #fff !important;
    stroke-width: 4 !important;
    stroke-opacity: 1 !important;
}

@media (min-device-width: 320px) and (max-device-width:640px) {
    .myButton2 {
        width: 48%;
    }
    .map {
        width: 90%;
        float: left;
        margin: 0 auto 20px auto;
    }
    .downloadButton9 {
        font-family: "Benton Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #333333;
        border: none;
        font-size: .9em;
        text-align: center;
        margin-top: 15px;
        margin-left: 0%;
        margin-bottom: 20px;
        padding-bottom: 0;
        width: 99%;
        background-color: #fff;
        color: #333;
        background-image: url('../_common_resources/img/downloadDoc.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 28% 0%;
    }
}