/* PROJECT STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden !important;
}

#map {
    width:100%;
    height:300px;
}

#wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}

canvas {
    position: static !important;
}

#geocoder-container,
.mapboxgl-ctrl-geocoder {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

#rightSide {
    width: 48%;
    float: right;
    padding: 10px;
}

#leftSide {
    width: 48%;
    float: left;
    padding: 10px;
}

#filter input:focus {
    width: 100% !important;
}

#filter input {
    width: 100% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.card {
    padding: 10px;
    height: 210px;
    border-bottom: 1px solid #ddd;
    width: 48%;
    font-size: .9em;
    display: inline-block;
    vertical-align: top;
}

.card div {
    padding: 3px;
}

.card:hover {
    opacity: .5;
    cursor: pointer;
}

.description_chatter {
    display: none;
}

.adjacent {
    width:48%;
    display:inline-block;
    vertical-align:top;
}

#street-view {
  height:300px;
}

.zoom {
    float:none !important;
}

.name {
    font-weight:900;
}

.featherlight-content .description_chatter {
    display: block !important;
}

.featherlight-content .card {
    width: 100% !important;
}

.featherlight-content .card:hover {
    opacity: 1 !important;
    cursor: normal !important;
}

#deaths {
    overflow-x:hidden;
    overflow-y:auto;
    height:300px;
}

.thisOne {
    border:1px solid #000;
    margin:0;
}

@media (max-width:960px) {
    #midbreak {
        display: none;
    }
    #mapboxgl-ctrl-geocoder input {
        text-align: center;
        width: 100%;
        margin: 0 0 0 0 !important;
    }
    #geocoder-container,
    .mapboxgl-ctrl-geocoder {
        text-align: center;
        margin: 0 0 0 0 !important;
        width: 100%;
        max-width: 100%;
    }
    #wrapper {
        width: 100%;
    }
    #map {
        width: 100%;
        height: 350px;
    }
    #rightSide {
        width: 100%;
        float: none;
    }
    #leftSide {
        width: 100%;
        float: none;
    }
}

@media (max-width:500px) {
    .card {
        width:100%;
        display:block;
    }
    .adjacent {
        width:100%;
    }