/* PROJECT STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden !important;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
}

.graph-label {
    display: none;
}

#calendar {
    width: 100%;
}

.graph-domain {
    display: inline-block !important;
}

.metric {
    font-weight: 900;
}

.year {
    width: 100%;
}

.yearLabel {
    color: #bbb;
    font-size: 8px;
    display: inline-block;
    float: left;
    width: 20px;
    text-align: center;
    margin-left: 10px;
    position: relative;
}

.month {
    display: block;
}

.block {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0;
    white-space: normal;
    border: 0.5px solid #fff !important;
    font-size: 0;
    background-color: #efc2af;
}

.confined {
    background-color: #f47a44;
}

.out {
    background-color: #ffffff;
    border: 1px solid #000000 !important;
}

.overlap {
    background-color: #A59DC9;
}

.health {
    background-color: #7EA9CF !important;
}

#healthDays {
    color: #7EA9CF;
}

#total {
    color: #f47a44;
}

#consecutive,
#overlapping {
    color: #f47a44;
}

#legend {
    float: right;
    margin-top: 10px;
    vertical-align: middle;
}

#legend .block {
    height: 13px;
    width: 13px;
    display: inline-block;
    float: none;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: -3px;
    border: 0;
}

#topmonths {
    display: none;
}

.selectedBlock {
    background-color: #f47a44;
    border: 1px solid #f47a44;
    /*-webkit-transition: all 0.5s ease 0.5s; -moz-transition: all 0.5s ease 0.5s; -o-transition: all 0.5s ease 0.5s; transition: all 0.5s ease 0.5s;*/
}

.breaker {
    padding: 1px;
}

#addendum div {
    display: none;
}

#addendum {
    height: 18px;
}

.year {
    width: 100%;
}

#topmonths .month {
    width: 8.1%;
    border-bottom: 0;
    display: inline-block;
    height: auto;
    font-size: 0.6em;
    color: #bbb;
    vertical-align: top;
}

.step {
    padding: 5px;
}


/*FANCY DROPDOWNS*/

.wrapper-demo {
    width: 200px;
}

.wrapper-dropdown-1 {
    display: inline-block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    z-index: 900;
    background: #ddd;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 8px;
    position: relative;
    width: 200px;
    border: 1px solid #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    width: 100%;
}

.wrapper-dropdown-1 .dropdown {
    font-weight: normal;
    left: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #aaa;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
}

ul.dropdown.months {
    box-sizing: border-box;
    margin: 0;
    moz-box-sizing: border-box;
    padding: 0;
    webkit-box-sizing: border-box;
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.wrapper-dropdown-1 .dropdown {
    font-weight: normal;
    left: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #aaa;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
}

.wrapper-dropdown-1 .dropdown li:hover a {
    background: #EFEFEF;
}

header[role="banner"] {
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: #f0f0f0;
}

#viewSwitch {
    float: left;
}

.yearLabel,
.out {
    display: none;
}

#name {
    font-weight: 900;
}

@media (max-width:840px) {
    #wrapper {
        width: 100%;
    }
    .wrapper-demo {
        width: 100%;
    }
    #legend,
    #viewSwitch {
        float: none !important;
        text-align: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}