/* PROJECT STYLES */
.bigTitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.icon {
    text-align: center;
    display: block;
}

.icon img {
    width: 60px;
}

.highlights {
    text-align: center;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.highlightNum {
    width: 180px;
    font-size: 3em;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    display: inline-block;
    text-align: center;
}

.highlightText {
    width: 180px;
    display: inline-block;
    text-align: center;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

.highlightBreak {
    clear: both;
}

.wrapper-dropdown-1 {
    width: 100%;
}

.wrapper-demo {
    width: 100%;
    z-index: 9000 !important;
}

.blueswatch {
    color: #407F7F;
}

.lowswatch {
    color: #E7A9A9;
}

.redswatch {
    color: #801515;
}

.greyswatch {
    color: #333;
}

.orangeswatch {
    color: #AA6C38;
}

.hottest {
    fill: #a70518;
}

.snowswatch {
    color: #96ADB0;
}

.windswatch {
    color: #E7C6A9;
}

.greenswatch {
    color: #3D813D;
}

.precipswatch {
    color: #87B887;
}

.summary {
    vertical-align: top;
    display: table-cell;
}

.chart {
    height: 400px;
}

#pdf {
    text-align: center;
}

#monthly {
    display: none;
}

.monthBar {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    width: 20%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

p a,
.l-utility-inner p a {
    color: #036;
    text-decoration: underline!important;
}

p a:hover,
.l-utility-inner p a:hover {
    color: #666666;
    text-decoration: none!important;
}

h3 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}