/* PROJECT STYLES */
#wrapper {
    width: 100%;
}

.background {
    fill: none;
    pointer-events: all;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

#states {
    fill: #aaa;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.tooltip {
    background-color: rgba(255, 255, 255, 1);
    height: 20px;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    border: 1px solid black;
    font-size: 12px;
    font-family: Arial;
}

#states .active {
    fill: #333 !important;
    fill-opacity: 1 !important;
}

.faded {
    fill-opacity: 0.5 !important;
}

#states .active:hover {
    fill: #333 !important;
}

#timeline {
    font-weight: 900;
}

.selected {
    text-decoration: none !important;
    color: black !important;
    font-weight: 900;
}

.legend label,
.legend span {
    display: block;
    float: left;
    height: 15px;
    width: 30px;
    text-align: center;
    font-size: 11px;
    color: #808080;
}

#map {
    float: left;
    width: 600px;
}

#sidebox {
    float: right;
    width: 35%;
    background-color: #fff;
}

.myButton {
    background-color: #61bd1a;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-family: arial;
    font-size: 12px !important;
    padding: 3px 5px !important;
    text-decoration: none;
    font-weight: 900;
    width: 13.85%;
}

.myButton:active {
    background-color: #5cbf2a;
}

.myButton_tax {
    background-color: #8B2219;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    padding: 3px 5px !important;
    text-decoration: none;
    font-weight: 900;
    width: 13.85%;
}

.myButton_tax:active {
    background-color: #ad645e;
}

button:focus {
    outline: 0 !important;
}

#wrapper {
    width: 97%;
}

#legend_label {
    font-weight: 900;
}

.zoom {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
    float: none !important;
}

#infobox {
    width: 270px;
    background-color: #fff;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
    height: 530px;
    padding: 15px;
    padding-bottom: 30px;
}

#county_name {
    font-size: 18px;
    font-weight: 900;
    background-color: #ddd;
    padding: 10px;
}

.category {
    float: left !important;
    font-size: 13px;
    color: #aaa;
    font-family: Arial;
}

.amount {
    float: right !important;
    font-size: 13px;
    color: #aaa;
    font-family: Arial;
}

hr {
    border: 0;
    border-bottom: 1px dashed #aaa;
    background: #999;
    clear: both;
}

#infobox h4 {
    margin-top: 1.83em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    float: left;
    margin-right: 2px;
    border-left: 5px solid black;
}

.myButton:hover {
    background-color: #378f00 !important;
}

.myButton_tax:hover {
    background-color: #ad645e !important;
}

path:hover {
    fill: #378f00 !important;
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    #map {
        width: 100% !important;
    }
    #sidebox {
        display: none;
    }
    .myButton,
    .myButton_tax {
        width: 32%;
    }
}