body {
	margin: 0;
	padding: 0;
}
.map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display:none !important;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass, .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass { 
  display:none !important;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl, .mapboxgl-ctrl-icon {
    display:none !important;
}