body {
	margin: 0;
	padding: 0;
}
#wrapper {
    vertical-align:bottom;
}
.map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display:none !important;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass, .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass { 
  display:none !important;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl, .mapboxgl-ctrl-icon {
    display:none !important;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.75em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
    position: absolute;
    bottom: 10px;
    z-index:10 !important;
}