/* PROJECT STYLES */
#wrapper {
    text-align: center;
    width: 100%;
}

#map {
    width: 100%;
    height: 342px;
    text-align: center;
}

.tableHead {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: 900;
    font-family: "Poynter Serif RE";
}

.tableCell {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: "Benton Sans";
}

.tableBreak {
    clear: both;
    display: block;
}

.table {
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 670px;
}

#table {
    font-size: .7em;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.change,
.pct {
    font-weight: 900;
    width: 20%;
}

.cityCell {
    width: 40%;
}

.rents {
    width: 20%;
}

.switch {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 49.5%;
    background-color: #fff;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid black;
}

.switch:hover,
.city:hover,
.rSort:hover {
/*    background-color: #333;
    color: #fff !important;*/
    cursor: pointer;
}

.selected {
    text-decoration:underline;
    background-color:#ffffff !important;
    color:#000000 !important;
}

#infobox {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
}

.zoom {
    float: none !important;
    text-align: center;
}

small {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    color: #808080;
    clear: both;
    display: block;
}

.legends {
    width: 315px;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#filter input,
#filter input:focus {
    width: 99% !important;
    border-radius: 0 !important;
}

.negDark {
    fill: #752304;
    background-color: #752304;
    color: #fff;
}

.negMid {
    fill: #BF5F3C;
    background-color: #BF5F3C;
    color: #fff;
}

.negLight {
    fill: #E28765;
    background-color: #E28765;
}

.neutral {
    fill: #ddd;
    background-color: #ddd;
}

.posLight {
    fill: #94D181;
    background-color: #94D181;
}

.posMid {
    fill: #67AF50;
    background-color: #67AF50;
    color: #fff;
}

.posDark {
    fill: #24680E;
    background-color: #24680E;
    color: #fff;
}

.chartBar {
    fill: #636363;
    background-color: #636363;
    color: #fff;
}

#leftSide {
    float: left;
    width: 48%;
}

#rightSide {
    float: right;
    width: 48%;
}

#rentalChange {
    text-align: center;
}

#infobox,
.chartTitle {
    text-align: center;
}

#chart .c3-line {
  stroke-width: 6px !important;
}

@media (max-width: 750px) {
    #leftSide,
    #rightSide {
        float: none;
        width: 100%;
    }
    #table {
        height: 120px;
    }
    .chartTitle {
        font-size: 1em;
    }
}