/* PROJECT STYLES */

body,
.chatter,
.chartTitle,
#wrapper,
* {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: normal;
    font-size: 14px;
}

#wrapper {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#map {
    height: 350px;
    width: 100%;
}

.slide {
    display:none;
}

 .name, .score {
    pointer-events:none !important;
 }

.value {
    font-weight: normal !important;
    display: none;
    font-size:.9em;
}

.hideme {
    display: none !important;
}

.cell {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    line-height: 120%;
    text-align: center;
    height: 18px;
}

.cell:hover,
.value:hover {
    cursor: default;
}

.stretch.cell:hover,
.index.cell:hover {
    cursor: default;
}

.stretch {
    width: 20%;
    display: inline-block;
    text-align: left;
}

.th {
    vertical-align: top;
    height: auto;
    // font-size: 0.9em;
}

.listrow {
    padding: 2px;
}
.rowHead {padding:1em 0;width:90%;}
.chartTitle {
    color: #333;
    font-family: "Whitman Display Condensed Bold", Georgia, Times, serif;
    font-size: 42px;
    line-height: 42px;
    margin-top: 12px;
}

#chartMarket {
    height: 400px;
    pointer-events: none !important;
}

.orange5 .value {
    color: #ffffff !important;
}
.orange5 {
    // background-color: #993404;
    background-color:#118241;
}

.orange4 {
    // background-color: #d95f0e;
    background-color: #299e3d;
}

.orange3 {
    // background-color: #fe9929;
    background-color:#5bbf48;
}

.orange2 {
    // background-color: #fec44f;
    background-color: #9ee384;
}

.orange1 {
    // background-color: #fee391;
    background-color:#c7e5b5;
}
.orange35 {
     background-color:#bf7f63;
}

.mapboxgl-ctrl-attrib {
    display: none !important;
}

.mapboxgl-canvas {
    position: static !important;
}

.chatter {
    font-family: "Poynter Serif RE", Georgia, Times, serif;
    font-size: 18px;
    line-height: 22px;
    padding-right: 20px;
    margin-top: 3px;
}

#listing {
    float: left;
    width: 30%;
}

#filter {
    margin-bottom: 10px;
}

#cities {
    height: 380px;
    overflow-y: auto;
}

.legendary {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 0 7px;
    margin-bottom: 3px;
    display: inline-block;
    font-size: 15px;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    line-height: 1.4em;
    letter-spacing: normal;
    font-weight: normal;
    margin: 1rem 0;
    font-size: .85em;
}

.byline a {
    font-weight: normal !important;
    font-family: Benton Sans, Helvetica, Arial, sans-serif !important;
}

#reference {
    vertical-align: top;
}

.row {
    padding: 5px;
}

.row:hover {
    opacity: 0.8;
    cursor: pointer;
}

.stretch:hover {
    opacity: 0.5;
    cursor: pointer;
}

.th,
.th2 {
    padding: 1px;
    font-weight: 600;
    // text-transform: uppercase
}

.th:hover,
.th2:hover {
    opacity: 0.8;
    cursor: pointer;
}

.zoom {
    font-family: "Benton Sans Condensed Medium", Helvetica, Arial, sans-serif;
    bottom: 1px;
    right: 3px;
    color: #ffffff;
    font-size: 1.2em;
    position: absolute;
    z-index: 2;
}

.selected3 {
    text-decoration: underline;
}

.col {
    display: inline-block;
}

.name {
    width: 83%;
}

#legendContainer {
    float: left;
}

.score {
    font-weight: 600;
    text-align: right;
    width: 15%;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#metrics {
    float: right;
    width: 68%;
    text-align: center;
}

.smallBreak {
    padding: 7px;
}

.selected {
    margin-bottom: 0 !important;
}

h5 {
    margin-left: 32px;
}

.metricCol {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;
}

.metricCol div {
    padding: 1px;
}

.metric {
    font-weight: 900;
    font-size: 1.5em;
}

#districtName {
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    padding: 7px;
}

#chart,
#chart svg {
    height: 200px;
}

#chart .c3-line {
    stroke-width: 6px !important;
}

#chartHead {
    font-size: 1.1em;
    margin-top: 2.5em;
}


/*#income {
  font-weight:900;
  font-size:1.2em;
  text-align:center;
  padding:5px;  
}*/

.c3-tooltip {
    -webkit-box-shadow: 0px !important;
    box-shadow: 0px 0px 0px 0px !important;
    width: 200px;
}

#source a {
    color: steelblue;
}

.mobileshow {
    display: none;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
    display: none !important;
}

.onoffswitch {
    display: none;
    float: right;
    position: relative;
    width: 187px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "CITIES/TOWNS";
    padding-left: 10px;
    background-color: #d95f0e;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "NEIGHBORHOODS";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 28px;
    margin: 1px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 153px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

@media only screen and (max-width:840px) {

    #map {
        height: 200px;
    }

    #wrapper {
        width: 100%;
    }

    #cities {
        height: 157px;
    }

    #chart,
    #chart svg {
        height: 200px;
    }

    #listing,
    #metrics {
        float: none;
        width: 100%;
    }

    .metric {
        font-size: 1.2em;
    }

    .metricLabel {
        font-size: 0.9em;
    }

    #source {
        font-size: 0.8em;
    }
}

@media only screen and (max-width:500px) {

    .cell,
    .th {
        width: 14%;
        font-size: 0.7em;
        display: inline-block;
        vertical-align: top;
        line-height: 120%;
        text-align: center;
        height: 13px;
    }

    .th {
        font-size: 0.8em;
        height: auto;
        vertical-align: bottom;
    }

    .mobilekill {
        display: none;
    }

    .stretch {
        width: 24%;
        display: inline-block;
        text-align: left;
    }

    .mobileshow {
        display: none;
    }

    #districtName {
        font-size: 1em;
    }
}