/* PROJECT STYLES */
.tooltip {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    border-radius: 0;
    font-size: 14px;
    height: auto;
    margin: 10px;
    moz-border-radius: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    webkit-border-radius: 10px;
    width: 230px;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.state {
    font-size: 14px;
    font-weight: bold;
}

.percentage {
    font-size: 18px;
    font-weight: 900;
}

#number1,
#number2 {
    color: #666;
    font-family: popular-bold, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
}

.legend label,
.legend span {
    color: #808080;
    display: block;
    float: left;
    font-size: 12px;
    height: 15px;
    text-align: center;
    width: 30px;
}

.percentage {
    float: right;
}

.broadband {
    float: left;
}

hr {
    background-color: #000;
    color: #fff;
    height: 1px;
}

#wrapper {
    width: 100%;
}

#years {
    margin: 15px;
}

.myButton {
    background-color: #fff;
    ont-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    border: 0;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 1.2em;
    font-weight: 900;
    moz-border-radius: 0;
    padding: 13px;
    text-decoration: none;
    webkit-border-radius: 0;
    width: 48%;
}

.myButton:active {
    background-color: #333;
}

.myButton:hover {
    background-color: #333 !important;
    color: #fff;
}

button:focus {
    outline: 0 !important;
}

path:hover {
    fill: #333 !important;
    cursor: normal !important;
}