/* PROJECT STYLES */
body,
#filter,
#filter input:focus {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#chart .c3-line {
    stroke-width: 6px !important;
}

#map {
    width: 100%;
    height: 200px;
}

.map-overlay-container {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

.mapboxgl-ctrl-attrib {
    display: none;
}

#wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#leftSide {
    width: 30%;
    float: left;
}

#rightSide {
    width: 68%;
    float: right;
}

.fixtip {
    width: 150px;
}

#viewSwitch,
#current {
    padding: 10px;
}

.stat {
    font-weight: 900;
    display: inline-block;
    width: 10%;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.stat:hover,
.clicked {
    background-color: #ddd !important;
    cursor: pointer;
}

#filter {
    padding: 12px;
}

#chart,
#chartF {
    height: 150px;
}

.source {
    font-size: 0.8em;
}

.insurance {
    color: #aaaaaa;
}

.license {
    color: #959595;
}

.speeding {
    color: #808080;
}

.other {
    color: #6b6b6b;
}

.seatbelt {
    color: #585858;
}

.parking {
    color: #464646;
}

.mj {
    color: #333333;
}

.fines {
    color: #000;
}

#pct {
    text-align: center;
    margin-bottom: 20px;
    margin-left: -40px;
}

.chartTitle {
    padding-bottom: 20px;
}

.c3-xgrid-line.suspend line {
    stroke: #d30000 !important;
    color: #d30000;
    opacity: 0.3 !important;
}

.suspend {
    stroke: #d30000 !important;
    color: #d30000;
}

.c3-xgrid-line.reinstate line {
    stroke: #009b00 !important;
    color: #009b00;
    opacity: 0.3 !important;
}

.reinstate {
    stroke: #009b00 !important;
    color: #009b00;
}

.label {
    font-weight: 900;
}

.label.hed {
    /*margin-left:30px;*/
}

#legend {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: .9em;
}

#filter input {
    border-radius: 0 !important;
    width: 100% !important;
}

#filter {
    padding: 0px !important;
}

p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.switch {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #fff;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid black;
    color: #000 !important;
    margin: 0 !important;
}

.switch:hover,
.selected,
.step:hover,
.cell:hover {
    background-color: #4C4C39 !important;
    color: #fff !important;
    cursor: pointer;
    margin: 0 !important;
}

.cell {
    width: 19%;
    display: inline-block;
}

@media (max-width:550px) {
    .stat {
        width: 24%;
    }
}