/* PROJECT STYLES */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#map {
    height: 780px;
    width: 50%;
    display: inline-block;
    float: left !important;
}

.mapbox-logo,
.leaflet-control-attribution {
    display: none !important;
}

.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    pointer-events: none;
}

#wrapper {
    width: 98%;
}

#right_rail {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block
}

.zoom {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
    float: right;
}

button:focus {
    outline: 0 !important;
}

.btn-group {
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.btn-primary {
    width: 130px;
    text-align: center;
    background-color: #333;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: .7em;
    font-weight: 900;
    moz-border-radius: 0;
    padding: 13px 26px;
    text-decoration: none;
    webkit-border-radius: 0;
}

.btn-primary input[type=checkbox] {
    border: none;
    display: none !important;
}

.btn-primary:hover {
    background-color: #aaa !important;
}

#demo_toggle.active {
    background-color: #AD1625;
}

#rebuild_toggle.active {
    background-color: #777;
}

#parcels_toggle.active {
    background-color: #801515;
}

#nb_toggle.active {
    background-color: #801515;
}

#tornado_toggle.active {
    background-color: #B35817;
}

#build_toggle.active {
    background-color: #ddd;
}

#build_toggle {
    width: 10px;
    height: 10px;
    padding: 10px;
}

#buildButton {
    width: 100%;
    text-align: right;
    vertical-align: middle;
}

#nerdbox {
    min-height: 200px;
    display: block;
}

#nb_title {
    font-weight: 900;
    font-size: 1em;
    float: left;
    font-family: "Poynter Serif RE";
}

.num {
    text-align: center;
    width: 32.5%;
    display: inline-block;
    font-size: 2.4em;
    font-weight: 900;
    font-family: "Popular";
}

#teardownsNum,
.teardown {
    color: #801515;
    font-weight: 900;
}

#rebuildsNum,
.rebuild {
    /*color:#2A9513;*/
    font-weight: 900;
    color: #777;
}

#parcelPct,
.parcel {
    /*color:#0E7063;*/
    color: #801515;
    font-weight: 900;
}

#tornadoNum,
.tornado {
    color: #B35817;
    font-weight: 900;
}

.breaker {
    clear: both;
    margin: 5px;
    padding: 10px;
}

#legendContainer {
    width: 100%;
}

.legend label,
.legend span {
    display: block;
    float: left;
    height: 15px;
    width: 35px;
    text-align: center;
    font-size: 11px;
    color: #808080;
}

#quantize {
    padding: 5px;
    text-align: center;
}

.legend_title {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    text-align: center;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #333;
    border-radius: 0;
    background: #eee;
    background: #333;
    z-index: 3;
}

.d3-slider-handle:hover {
    background: #5cbf2a;
    cursor: pointer;
}

#sliderDiv {
    height: 20px;
    padding: 15px;
}

#thisYear {
    float: right;
    font-weight: 900;
    font-size: 1em;
    font-family: "Poynter Serif RE";
}

#total {
    text-align: center;
}

#chart svg {
    width: 100%;
    height: 300px
}

.teardownsBar {
    background-color: #AD1625;
    height: 20px;
    display: inline-block;
}

.rebuildsBar {
    background-color: #777;
    height: 20px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.yearBar {
    height: 20px;
    margin: 5px;
    line-height: 120%;
}

#parcelPct {
    display: none !important;
}

#parcels_toggle {
    width: 48%;
}

#nb_toggle {
    width: 48%;
}

#tornadoOn {
    font-size: 14px;
}

.stat {
    display: none;
}

.breaker {
    padding: 2px;
}

#sliderDiv {
    margin: 18px;
}

#back {
    margin:20px;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Popular";
}

#forward {
    margin:20px;
    float: right;
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Popular";
}

.leaflet-left {
    display:none;
}

#back:hover,
#forward:hover {
    cursor: pointer;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

@media (max-width:845px) {
    #map {
        display: block;
        width: 100%;
        height: 390px;
    }
    #right_rail {
        display: block;
        width: 100%;
    }
    #wrapper {
        width: 100%;
    }
    .btn-primary {
        width: 32% !important;
    }
    .num {
        width: 32.5%;
    }
    #parcels_toggle {
        width: 100% !important;
    }
    #nb_toggle {
        width: 100% !important;
    }
}