/* PROJECT STYLES */
#wrapper {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Popular";
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em !important;
}

tr.odd td.sorting_1 {
    background-color: #efefef;
}

tr.even td.sorting_1 {
    background-color: #efefef;
}

tr.even {
    background-color: white;
}

tr.odd {
    background-color: #efefef;
}

a:link {
    color: #9c2726;
}

a:visited {
    color: #9c2726;
}

a:hover {
    color: #9c2726;
}

a:active {
    color: #9c2726;
}

td {
    padding: 9px !important;
}

.clickified {
    background: #333 !important;
    color: white;
}

.dataTables_filter {
    padding-bottom: 18px;
    font-size: 1em;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    float: left;
    text-align: left;
    font-weight: bold;
}

.dataTable {
    margin-bottom: 18px;
}

.dataTables_info {
    display: none;
}

th {
    background: #ccc !important;
}

th:hover {
    cursor: pointer;
}

tr:hover {
    border: 1px solid black !important;
}

.School-cell {
    font-weight: 900;
}

.School-cell:hover {
    cursor: pointer;
    background: #333 !important;
    color: white;
}

#stuff {
    width: 100%;
    font-size: 11px;
}

.dataTables_scrollHeadInner {
    box-sizing: initial !important;
    width: 100% !important;
    padding-left: 0 !important;
    height: 37px !important;
}

table.dataTable.no-footer {
    margin-bottom: 0 !important;
}

.dataTables_scrollBody thead {
    visibility: hidden;
    height: 0 !important;
}

th.sorting_asc,
th.sorting_desc {
    background: #333 !important;
    font-weight: bold;
    color: #fff;
}

th {
    display: table-cell;
    vertical-align: initial;
}

.dataTables_scrollHead {
    height: 37px !important;
}

.nvtooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 10000;
    width: 400px;
    font-family: Arial;
    font-size: 13px;
    transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    -moz-border-radius: 10px;
    border-radius: 5px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nvtooltip h3 {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    background: white !important;
    font-size: 16px;
}

.nvtooltip p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip span {
    display: inline-block;
    margin: 2px 0;
}

.nvtooltip-pending-removal {
    position: absolute;
    pointer-events: none;
}

.myButton {
    background-color: #61bd1a;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 14px;
    padding: 13px;
    width: 19%;
    text-decoration: none;
    font-weight: 900;
}

.myButton:active {
    background-color: #378f00;
}

#wrapper {
    width: 97%;
}

button:focus {
    outline: 0 !important;
}

.labeling {
    font-size: 28px;
    font-weight: 900;
}

#chart svg {
    width: 100% !important;
    height: 400px !important;
}

#chart2 svg {
    width: 100% !important;
    height: 400px !important;
}

#overview {
    height: 397px !important;
}

rect:hover {
    fill: #5cbf2a !important;
}

.cat {
    float: left;
    font-weight: bold;
}

.num {
    float: right;
}

hr {
    clear: both;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0;
}

#overview_link {
    color: steelblue;
    font-weight: bold;
    float: right;
    text-decoration: none;
}

#chart svg.nv-barsWrap {
    margin-right: 700px !important;
}

th {
    font-weight: bold !important;
    font-size: 16px !important;
    font-family: Arial !important;
    padding: 5px !important;
}

@media only screen and (max-width:650px) {
    .myButton {
        width: 24%;
    }
}